<div id="header">

    <header>

        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <div class="page-header">

                        <div class="pull-right">
                            <a href="{{ layout.back_url | prepend: site.baseurl }}" class="btn btn-back">Home</a>
                        </div>

                        <h1 class="page-title">{{ page.title }}</h1>

                    </div>
                </div>

            </div>

        </div>

    </header>

</div>