---
layout: page
controller: posts
method: show
back_url: /posts
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <footer class="post-footer">
        <div class="row">
            <div class="col-sm-5">
                <div class="post-tags">
                    <h3 class="title">Tags</h3>
                    {% if page.tags %}
                        {% assign sortedTags = page.tags | sort %}
                        <ul class="list-unstyled">
                        {% for tag in sortedTags %}
                            <li>{{ tag }}</li>
                        {% endfor%}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="post-tags">
                    <h3 class="title">Categories</h3>
                    {% if page.categories %}
                        {% assign sortedCategories = page.categories | sort %}
                        <ul class="list-unstyled">
                        {% for tag in sortedCategories %}
                            <li>{{ tag }}</li>
                        {% endfor%}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="post-meta">
                    <h3 class="title">Meta</h3>
                    <ul class="list-unstyled">
                        <li><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time></li>
                        {% if page.author %}
                            <li>by <a class="obfuscate" data-value="{{ site.mailto_rot13 }}" href="#"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </footer>

</article>
