@charset "utf-8";

/* ------- Autor: 	Jaume Sala */
/* ------ Versió: 	121007 */
/* --- Llicènica: 	Aquest arxiu té llicència Creative Commons BY-NC-SA */

body {
	font-family:Arial, Helvetica, sans-serif;
	text-align: center; /* truc per centrar divs per a IE */
	min-width: 775px;
}

a{
	text-decoration:none;
}
#wrapper{
	margin: 0 auto;   /* alineació per als bons navegadors */
	text-align: left; /* contradir el centre del cos  IEFix */
	width:775px;
}
#header h1{
	width:775px;
	height:200px;
	position:relative; /* truc per amagar el text sota la foto (navegació sense fotos) */
}
#header h1 span{
	background: url(imatges/guia_instalacio_mini2.jpg) no-repeat center; /*la foto del truc*/
	position:absolute;
	width:100%;
	height:100%;
}
#content ul{
	list-style:none;
	margin-left:80px;
}
#content ul li{
	padding:0 25px;
	margin:5px 0;
	height:20px;
}
/* -- Mostrem la part de la foto que volem... -- */
#un{
	background: url(imatges/llista.gif) no-repeat 0 0;
}
#dos{
	background:url(imatges/llista.gif) no-repeat 0 -20px;
}
#tres{
	background:url(imatges/llista.gif) no-repeat 0 -40px;
}
#quatre{
	background:url(imatges/llista.gif) no-repeat 0 -60px;
}
#cinc{
	background:url(imatges/llista.gif) no-repeat 0 -80px;
}
#sis{
	background:url(imatges/llista.gif) no-repeat 0 -100px;
}
#footer{
	text-align:center;
	
}
#ads{
	height:90px;
	padding:10px 0;
	/*display:none;*/
}
#google{
	margin:0 auto;
	width:728px;
	background-color:#F3F3F3;
	height:90px;
}
#contact{
	margin:10px 0;
	font-size:small;
}
.centrat{
	text-align:center;
	font-style:italic;
}
.signatura{
	text-align:right;
	font-size:90%;
	color:#333333;
	font-weight:bold;
}
#contacta dd{
	margin:0;
}
#contacta dt{
	padding-right:40px;
}